* {
    margin: auto 0;
    padding: auto 0;
    color: rgb(0, 7, 33);
    font-family: 'Julius Sans One', sans-serif;
    box-sizing: border-box;

}

  #titleLogo {
      width: 423px;
      height: 90px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2%;
      display: block;
      
  }


  .nav-item a {
    font-family: 'Julius Sans One', sans-serif;
    color: rgb(0, 0, 28);
    font-size: 16px;
  }

.nav-link a {
    text-align: center;
    text-decoration: none;
    border-right: 2px solid #efeee7;
    float: left;
    padding: 20px 40px;
    max-height: 60px;;
  }

  .nav-link:hover{
      color:  rgba(0, 0, 28, 0.468);
  }

body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 18px;
    line-height: 150%;
    color: #333;
}

h2 {
    font-size: 24px;
    color: rgb(0, 7, 33);
}

h3{
    font-size: 12px;
    color:rgb(0, 7, 33);
    letter-spacing: 4px; 
}

.container #contact {
    width: 960px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
}
.container #main-bio {
    width: 960px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 35px;
}

#bio-image {
    float:left;  
    margin-right: 30px;
    margin-top: 10px;
    margin-left: 5px;
    width: 250px;
    height: 250px;
}

.container{
    width: 0 auto;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.53)
}
 

input {
    width: 90%;
    padding: 25px;
}

input[type=submit] {
    background-color: rgb(0, 7, 33);
    color: #ddd;
    padding: 20px;
    width: 15%;
}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

footer {
    position: relative;
    clear: both;
    text-align: center;
    margin-top: 200px;
}

@media screen and (max-width:640px) {
    .container {
        width:100%;
    }

    .topnav, .topnav a {
        clear: both;
        width:100%;
    }
}

@media screen and (max-width:768px) {
    .topnav a {
        float: none;
        width: 100%;
}
    .column {
    width: 100%;
}}

@media screen and (max-width:980px) {
    .topnav a {
        float: none;
        width: 100%;
}
    .column {
    width: 100%;
}}

@media screen and (max-width:640px) {
    .topnav a {
        float: none;
        width: 100%;
    }
    .column {
    width: 100%;
}}